body{
    background-image: url("1.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: scroll;

}
h1{
    position:relative;
    margin-bottom: 35px;
    text-align: center;
    color: #FCBFB7;
}
h1:hover{
    color: #F3A712;
}
.nav-item{
    display: inline-block;
    position: relative;
    bottom: 0px;
    margin-left: 20px;

}
.nav-item a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 0px;
    color: #ffdada ;
    font-size: larger;
    text-decoration: none;
}
.nav-item a:hover{
   color:#A8C686;
}
#profileimg {
    justify-self: center;
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
}
#profileimg:hover{
    transform:scaleZ(1.1);
}

.myself{

    padding: 30px;
    margin-right: 300px;
    background-color: black;
    background-attachment: fixed;
    color: #A8C686;
    transform: translateZ(0);
    text-align:center;
    margin: 20px 20px 20px 0px;
}
.myself a:hover{
    color: #F3A712;
}
.myself a{
    text-decoration: none;
    color: #669BBC;
}

#projecthead{
    color: #ffdada ;
    font-family:'Gorditas', cursive;
    font-size: larger;
    text-align: center;
}


.icons{
    position: relative;
    flex-direction: row;
    max-height: 150px;
    max-width: 200px;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-left: 20px;

}
.icons:hover{
    transform:scale(1.1);
}



.formpar{
    font-family: 'Fraunces', serif, cursive;
    font-size:35px;
    text-align: center;
    color: #ffdada ;
 
}
.formpar:hover{
    color: #F3A712 ;
}

label{
    position: relative;
    float: left;
    margin-left: 450px;
    color: #ffdada;
    font-family:'Bree Serif', serif;
}
input[type=submit]:hover {
    background-color:#4CAF50;
  }
input[type=reset]:hover {
    background-color:  #293241;
  }
  input[type=submit] {
    font-family: 'Bree Serif', serif;
    width: 10%;
    background-color: #A8C686;
    color: white;
    padding: 14px 20px;
    margin: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type=reset] {
    font-family: 'Bree Serif', serif;
    width: 10%;
    background-color:  #571A4B;
    color: white;
    padding: 14px 20px;
    margin: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input {
    left: 5px;
    background-color: #ffdada;
    width: 25%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .menuimg{
      max-height: 350px;
      max-width: 400px;
      width: 480px;
      height: 480px;

  }
  .menuimg:hover{
    transform:scale(1.1);
  }
  .kzimg{
    max-height: 350px;
    max-width: 350px;
    width: 480px;
    height: 480px;
  }
  .kzimg:hover{
    transform:scale(1.1);
  }
  .smimg{
    max-height: 350px;
    max-width: 300px;
    width: 480px;
    height: 480px;
  }
  .smimg:hover{
    transform:scale(1.1);
  }

  .text{
      position: relative;
      top: 30px;
    font-size: larger;
    font-family:'Zilla Slab', serif; ;
    color: #A8C686;
    text-align:center;
  }
  .text:hover{
      color: #F3A712 ;
  }
  footer{
      background-color: #31326f;
      position: relative;
      bottom: 0px;
  }
  div{
      background-color: black;
  }
  